html
  height 100%
  position relative

  background-color #fff

body
  bottom 0
  overflow hidden
  position absolute
  top 0
  width 100%

.main
  bottom 3.5rem
  left 0
  overflow-y auto
  position absolute
  padding 1em
  top 0
  width 50%

.output
  bottom 3.5rem
  position absolute
  right 0
  top 0
  width 50%

  background-color interface-grey
  border-left 1px solid interface-grey-dark

textarea
  padding 1em
  height 100%
  width 100%

  background-color transparent
  border 0

  font normal 100%/1.5 brand-family

textarea:focus
  outline 2px solid #000

table
  width 100%

  border-collapse collapse
  table-layout fixed

th
td
  padding 0.75rem 0
  vertical-align middle

  text-align left

tr
  border-bottom 1px solid interface-grey-dark

tr:first-child th
tr:first-child td
  padding-top 0

label
  vertical-align middle

input
  padding 0.25em
  vertical-align middle
  width 85%

  border 1px solid interface-grey-dark

  font normal 100%/1.5 brand-family

input:focus
  outline 2px solid #000

input[type="checkbox"]
input[type="radio"]
  width auto

  cursor pointer

select
  width 85%
