---
---
<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Typografier—a modular typography building tool</title>
  <meta name="description" content="Typografier is a tool that generates a modular &amp; harmonious responsive type system for modern websites.">
  <meta name="viewport" content="width=1200">
  <link href="/css/typografier.min.css?v={{site.version}}" rel="stylesheet">
  <link href="/favicon.ico" rel="shortcut icon">
</head>
<body>

<h1 class="common-bar__title kilo">Typografier<span class="common-bar__title__subhead">—a modular typography building tool</span></h1>

<main class="main" role="main">
  {% include interface-form.html %}

  <div class="add-breakpoint">
    <button class="btn btn-right" id="btn-add-breakpoint">Add breakpoint</button>
  </div>

  <button class="btn btn-left" id="preview">Preview</button>
</main>

<div class="output has-options">
  <textarea id="output" spellcheck="false"></textarea>
</div>

<aside class="common-bar" role="complementary">
  <button class="help__open" title="Help">?<span class="visually-hidden"> Help</span></button>

  <ul class="list-group common-bar__social">
    <li class="list-group-item list-group-item-inline">
      <a class="icon i--28 i--github ir" href="https://github.com/thomasjbradley/typografier" title="GitHub" rel="external">GitHub</a>
    </li>
    <li class="list-group-item list-group-item-inline">
      <a class="icon i--28 i--22w i--thomasjbradley ir" href="http://thomasjbradley.ca" title="Website" rel="external me">Website</a>
    </li>
  </ul>
</aside>

<div class="help-dialog" data-state="open">
  <aside class="help" role="complementary">
    <button class="help__close">×</button>

    <h2 class="mega help-color">Help &amp; Tutorials</h2>
    <p class="micro"><i>Typografier</i> generates a modular type system with a harmonious vertical rhythm. Simplifying the process of making &amp; maintaining a responsive type system.</p>

    <div class="help__buttons push">
      <a class="btn btn-icon btn-videos help-btn" href="http://learn-the-web.algonquindesign.ca/topics/modular-typography/" rel="external">Tutorials &amp; videos</a>
      <a class="btn btn-icon btn-tutorials help-btn" href="http://learn-the-web.algonquindesign.ca/topics/typografier-cheat-sheet/" rel="external">Cheat sheet</a>
    </div>

    <hr>

    <h3 class="micro push-0">Companion apps</h3>

    <ul class="micro list-group clearfix">
      <li class="left"><a class="help-link" href="http://gridifer.web-dev.tools" rel="external"><strong>Gridifier »</strong></a></li>
      <li class="right"><a class="help-link" href="http://modulifier.web-dev.tools" rel="external"><strong>Modulifier »</strong></a></li>
    </ul>

    <hr>

    <div class="clearfix">
      <div class="left">
        <h3 class="micro push-0">Similar Apps</h3>
        <ul class="micro list-group push-0">
          <li><a class="help-link" href="http://type-scale.com/" rel="external">Type Scale</a></li>
          <li><a class="help-link" href="http://modularscale.com/" rel="external">Modular Scale</a></li>
          <li><a class="help-link" href="https://devinhunt.github.io/typebase.css/" rel="external">Typebase.css</a></li>
          <li><a class="help-link" href="https://corysimmons.github.io/typographic/" rel="external">Typographic</a></li>
        </ul>
      </div>

      <div class="right">
        <h3 class="micro push-0">Inspiration</h3>
        <ul class="micro list-group push-0">
          <li><a class="help-link" href="http://csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/" rel="external">CSS Wizardry</a> <a class="help-link" href="http://csswizardry.com/2012/06/single-direction-margin-declarations/" rel="external">× 2</a></li>
        </ul>
      </div>
    </div>

  </aside>
</div>

{% include templates.html %}

<script src="js/typografier.min.js?v={{site.version}}"></script>

</body>
</html>
