---
---
<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Preview · Typografier</title>
  <meta name="description" content="A preview specimen for the Typografier modular &amp; responsive type system.">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/grid.css?v={{site.version}}" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic|Lato:400,700,400italic|PT+Sans:400,700,400italic|Merriweather:400,400italic,700|Playfair+Display:400,400italic,700' rel='stylesheet' type='text/css'>
  <link href="/favicon.ico" rel="shortcut icon">
  <style id="output"></style>
  <style>
    html {
      font-family: "Lato";
      box-sizing: border-box;
      -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      text-size-adjust: 100%;
      color: #333;
    }
    *, *::before, *::after {
      box-sizing: inherit;
    }
    body { margin: 0; }
    img { display: block; width: 100%; height: auto; }
    a { color: steelblue; }
    .wrapper { margin-left: auto; margin-right: auto; max-width: 45em; }
    .table-wrapper { max-width: 100%; position: relative; overflow-x: auto; }
    table { min-width: 30em; }
    footer { color: #666; }
    input, label { cursor: pointer; }
    input { position: relative; top: -0.1em; }
    .typeface-wrap { white-space: nowrap; }
  </style>
</head>
<body>

<main class="pad-t">
  <div class="wrapper gutter">
    <h1>Typografier preview</h1>
    <form id="typeface-form" class="push">
      <span class="typeface-wrap">
        <input type="radio" id="lato" checked name="typeface">
        <label for="lato">Lato</label>
      </span>
      <span class="typeface-wrap">
        <input type="radio" id="open" name="typeface">
        <label for="open">Open Sans</label>
      </span>
      <span class="typeface-wrap">
        <input type="radio" id="playfair" name="typeface">
        <label for="playfair">Playfair Display</label>
      </span>
      <span class="typeface-wrap">
        <input type="radio" id="merri" name="typeface">
        <label for="merri">Merriweather</label>
      </span>
      <span class="typeface-wrap">
        <input type="radio" id="pt" name="typeface">
        <label for="pt">PT Serif</label>
      </span>
      <span class="typeface-wrap">
        <input type="radio" id="sans" name="typeface">
        <label for="sans">sans-serif</label>
      </span>
      <span class="typeface-wrap">
        <input type="radio" id="serif" name="typeface">
        <label for="serif">serif</label>
      </span>
    </form>
  </div>

  <hr>

  <div class="gutter wrapper">
    <p class="mega"><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
  </div>

  <div class="grid wrapper gutter">
    <div class="unit xs-1 m-1-2">
      <h2>Heading level 2</h2>
      <p>Lorem ipsum dolor <abbr title="Super Initializer for Typography">SIT</abbr> amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
    <div class="unit xs-1 m-1-2">
      <h2>Heading level 2</h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <dfn>Aenean commodo ligula eget dolor.</dfn> Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
    <div class="unit xs-1 m-2-3 push">
      <img src="/img/preview-short.svg" alt="">
    </div>
    <div class="unit xs-1 m-1-3 gutter push">
      <p class="milli">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
    </div>
    <div class="unit xs-1 m-1-2">
      <h3>Heading level 3</h3>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
      </ul>
    </div>
    <div class="unit xs-1 m-1-2">
      <h3>Heading level 3</h3>
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
      </ol>
    </div>
  </div>

  <div class="wrapper gutter">
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis.</p>
    <blockquote class="gutter-2 pad-t-1-2">
      <p class="tera push-0"><span class="hang-punc">“</span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.”</p>
      <footer class="text-right">— <cite>Tristique Senectus</cite></footer>
    </blockquote>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis.</p>
  </div>

  <div class="grid">
    <div class="unit xs-1 s-1 m-1-2 l-1-4">
      <figure>
        <img src="/img/preview.svg" alt="">
        <figcaption class="milli island-1-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</figcaption>
      </figure>
    </div>
    <div class="unit xs-1 s-1 m-1-2 l-1-4">
      <figure>
        <img src="/img/preview.svg" alt="">
        <figcaption class="milli island-1-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</figcaption>
      </figure>
    </div>
    <div class="unit xs-1 s-1 m-1-2 l-1-4">
      <figure>
        <img src="/img/preview.svg" alt="">
        <figcaption class="milli island-1-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</figcaption>
      </figure>
    </div>
    <div class="unit xs-1 s-1 m-1-2 l-1-4">
      <figure>
        <img src="/img/preview.svg" alt="">
        <figcaption class="milli island-1-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</figcaption>
      </figure>
    </div>
  </div>

  <div class="grid grid-bottom wrapper gutter">
    <div class="unit xs-1 m-1-2">
      <h2>Heading level 2</h2>
      <p>Lorem ipsum dolor sit amet<sup>2</sup>, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean<sub>2</sub> massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
    <div class="unit xs-1 m-1-2">
      <h6>Heading level 6</h6>
      <p class="milli">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
  </div>

  <hr>

  <div class="wrapper gutter">
    <h2>Tables</h2>
  </div>

  <div class="wrapper gutter">
    <div class="table-wrapper">
      <table>

        <caption>Information on three awesome dinosaurs.</caption>

        <thead>
          <tr>
            <th scope="col" rowspan="2">Name</th>
            <th scope="col" rowspan="2">Period</th>
            <th scope="col" rowspan="2">Discovery</th>
            <th scope="col" colspan="2">Size</th>
          </tr>
          <tr>
            <th scope="col">Length</th>
            <th scope="col">Mass</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th scope="row">Stegosaurus</th>
            <td>Late Jurassic</td>
            <td>
              <time datetime="1877">1877</time>
            </td>
            <td>
              <data value="9">9 m</data>
            </td>
            <td>4.5 t</td>
          </tr>
          <tr>
            <th scope="row">Apatosaurus</th>
            <td>Jurassic Period</td>
            <td>1877</td>
            <td>23 m</td>
            <td>35 t</td>
          </tr>
          <tr>
            <th scope="row">Tyrannosaurus</th>
            <td>Late Cretaceous</td>
            <td>1905</td>
            <td>12.3 m</td>
            <td>6.8 t</td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>

  <hr>

  <div class="wrapper gutter">
    <h2 class="yotta">Yotta size, 2 larger than &lt;h1&gt;</h2>
    <p class="yotta">Lorem ipsum dolor sit amet, consectetuer adipiscing commodo ligula elit.</p>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <h2 class="zetta">Zetta size, 1 larger than &lt;h1&gt;</h2>
    <p class="zetta">Lorem ipsum dolor sit amet, consectetuer adipiscing commodo ligula elit.</p>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <h2 class="exa">Exa size, &lt;h1&gt;</h2>
    <p class="exa">Lorem ipsum dolor sit amet, consectetuer adipiscing commodo ligula elit.</p>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <h2 class="peta">Peta size, &lt;h2&gt;</h2>
    <p class="peta">Lorem ipsum dolor sit amet, consectetuer adipiscing commodo ligula elit.</p>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <h2 class="tera">Tera size, &lt;h3&gt;</h2>
    <p class="tera">Lorem ipsum dolor sit amet, consectetuer adipiscing commodo ligula elit. Aenean massa.</p>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <h2 class="giga">Giga size, &lt;h4&gt;</h2>
    <p class="giga">Lorem ipsum dolor sit amet, consectetuer adipiscing commodo ligula elit. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <h2 class="mega">Mega size, &lt;h5&gt;</h2>
    <p class="mega">Lorem ipsum dolor sit amet, consectetuer adipiscing commodo ligula elit. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <h2 class="kilo">Kilo size, &lt;h6&gt; &amp; &lt;p&gt;, etc.</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <h2 class="milli">Milli size, 1 smaller than body copy, same as &lt;small&gt;</h2>
    <p class="milli">Lorem ipsum dolor sit amet, consectetuer adipiscing commodo ligula elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <h2 class="micro">Micro size, 2 smaller than body copy</h2>
    <p class="micro">Lorem ipsum dolor sit amet, consectetuer adipiscing commodo ligula elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
  </div>

  <hr>

  <div class="grid">
    <div class="unit xs-1 m-1-2 text-right gutter">
      <h2>Right aligned text</h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
    <div class="unit xs-1 m-1-2 text-center gutter">
      <h2>Centre aligned text</h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
  </div>
</main>

<footer class="micro text-center">
  <hr>
  <p class="push-0">See the <a href="http://learn-the-web.algonquindesign.ca/topics/typografier-cheat-sheet/"><strong>Typografier cheat sheet</strong></a> for all the different classes.</p>
  <p>Check out <a href="http://gridifier.web-dev.tools"><strong>Gridifer</strong></a> for this grid system.</p>
</footer>

<aside class="main" role="main" hidden>
  {% include interface-form.html %}
</aside>

{% include templates.html %}

<script src="/js/typografier.min.js?v={{site.version}}"></script>
<script>
document.getElementById('typeface-form').addEventListener('change', function () {
  document.documentElement.style.fontFamily = document.querySelector('[name="typeface"]:checked + label').innerHTML;
});
</script>
</body>
</html>
