<form id="controls">
  <table>
   <thead>
      <tr>
        <th scope="col" id="label-min-width" colspan="5">Breakpoint</th>
        <th scope="col" id="label-font-size" colspan="4">Font-size</th>
        <th scope="col" id="label-line-height" colspan="5">Line-height</th>
        <th scope="col" id="label-type-scale" colspan="10">Type scale</th>
      </tr>
    </thead>
    <tbody id="breakpoints"></tbody>
  </table>
  <div class="extra-options">
    <strong class="options-title">Legacy support</strong>
    <input type="checkbox" id="legacy">
    <label for="legacy">IE &lt;= 8</label>
  </div>
</form>
