{% raw %}
<script type="text/template" data-template="breakpoint">
  <tr class="breakpoint">
    <td colspan="4" class="breakpoint-em">
      <input class="min-width" type="number" value="{{min-width}}" aria-labelledby="label-min-width">
      <span class="em">em</span>
    </td>
    <td colspan="4">
      <input class="font-size" type="number" value="{{font-size}}" min="0" aria-labelledby="label-font-size">
      <span class="percent">%</span>
    </td>
    <td colspan="4">
      <input class="line-height" type="number" value="{{line-height}}" min="0" step="0.001" aria-labelledby="label-line-height">
    </td>
    <td colspan="7">
      <select class="type-scale" aria-labelledby="label-type-scale">
        <option value="1.067">1.067 — Minor Second</option>
        <option value="1.125">1.125 — Major Second</option>
        <option value="1.200">1.200 — Minor Third</option>
        <option value="1.250">1.250 — Major Third</option>
        <option value="1.333">1.333 — Perfect Fourth</option>
        <option value="1.414">1.414 — Augmented Fourth</option>
        <option value="1.500">1.500 — Perfect Fifth</option>
        <option value="1.600">1.600 — Minor Sixth</option>
        <option value="1.618">1.618 — Golden Ratio</option>
        <option value="1.667">1.667 — Major Sixth</option>
        <option value="1.778">1.778 — Minor Seventh</option>
        <option value="1.875">1.875 — Major Seventh</option>
        <option value="2.000">2.000 — Octave</option>
        <option value="2.500">2.500 — Major Tenth</option>
      </select>
    </td>
    <td colspan="3">
      <input class="hang-punc" type="checkbox" {{hang-punc}} aria-labelledby="label-hang-punc">
    </td>
    <td class="remove-breakpoint-wrap" colspan="2">
      <button class="btn btn-fatal btn-remove-breakpoint" title="Remove breakpoint"><span class="ir">Remove</span></button>
    </td>
  </tr>
</script>

<script type="text/template" data-template="css-base">/*
  Typografier || Code released under the UNLICENSE
  {{build}}

*/

html {
  font-size: {{base-font}}%;
  line-height: {{base-line-height}};
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

sub,
sup {
  font-size: 75%;
  line-height: 1px;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre,
code,
kbd,
samp {
  font-size: {{base-font}}%;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bold;
}

dfn,
caption {
  font-style: italic;
}

hr {
  border: 0;
  border-top: 1px solid;
  height: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th,
td {
  border-bottom: 1px solid;
  text-align: left;
  vertical-align: top;
}

thead th {
  vertical-align: bottom;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.text-upper {
  text-transform: uppercase;
}

.text-lower {
  text-transform: lowercase;
}
{{main}}
</script>

<script type="text/template" data-template="css-element">
{{selectors}} {
{{legacy}}
  font-size: {{font-size-px}}px;
  line-height: {{line-height-px}}px;
{{/legacy}}
  font-size: {{font-size}}rem;
  line-height: {{line-height}}rem;
}
</script>

<script type="text/template" data-template="scale-base">
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
figure,
blockquote,
details,
hr,
fieldset,
pre,
table {
{{legacy}}
  margin: 0 0 {{base-line-height-px}}px;
{{/legacy}}
  margin: 0 0 {{base-line-height}}rem;
}
{{type-scale}}

{{hang-punc}}
ul,
ol {
  padding-left: 0;
}

ul ul,
ol ul {
  padding-left: 1em;
}

ol ol,
ul ol
 {
  padding-left: 1.6em;
}

.hang-punc {
  float: left;
  margin-left: -1.4em;
  text-align: right;
  width: 1.3em;
}

table {
  margin-left: -{{line-height-quarter}}rem;
  margin-right: -{{line-height-quarter}}rem;
}
{{/hang-punc}}

{{not-hang-punc}}
ul {
  padding-left: 1em;
}

ol {
  padding-left: 1.6em;
}
{{/not-hang-punc}}

.push {
{{legacy}}
  margin-bottom: {{base-line-height-px}}px;
{{/legacy}}
  margin-bottom: {{base-line-height}}rem;
}

.push-none,
.push-0 {
  margin-bottom: 0;
}

.push-double,
.push-2 {
{{legacy}}
  margin-bottom: {{line-height-double-px}}px;
{{/legacy}}
  margin-bottom: {{line-height-double}}rem;
}

.push-half,
.push-1-2 {
{{legacy}}
  margin-bottom: {{line-height-half-px}}px;
{{/legacy}}
  margin-bottom: {{line-height-half}}rem;
}

.push-quarter,
.push-1-4 {
{{legacy}}
  margin-bottom: {{line-height-quarter-px}}px;
{{/legacy}}
  margin-bottom: {{line-height-quarter}}rem;
}

.push-right-quarter,
.push-r-1-4 {
{{legacy}}
  margin-right: {{line-height-quarter-px}}px;
{{/legacy}}
  margin-right: {{line-height-quarter}}rem;
}

.push-right-half,
.push-r-1-2 {
{{legacy}}
  margin-right: {{line-height-half-px}}px;
{{/legacy}}
  margin-right: {{line-height-half}}rem;
}

.push-right,
.push-r {
{{legacy}}
  margin-right: {{base-line-height-px}}px;
{{/legacy}}
  margin-right: {{base-line-height}}rem;
}

.pad-top,
.pad-t {
{{legacy}}
  padding-top: {{base-line-height-px}}px;
{{/legacy}}
  padding-top: {{base-line-height}}rem;
}

.pad-bottom,
.pad-b {
{{legacy}}
  padding-bottom: {{base-line-height-px}}px;
{{/legacy}}
  padding-bottom: {{base-line-height}}rem;
}

.pad-top-double,
.pad-t-2 {
{{legacy}}
  padding-top: {{line-height-double-px}}px;
{{/legacy}}
  padding-top: {{line-height-double}}rem;
}

.pad-bottom-double,
.pad-b-2 {
{{legacy}}
  padding-bottom: {{line-height-double-px}}px;
{{/legacy}}
  padding-bottom: {{line-height-double}}rem;
}

.pad-top-half,
.pad-t-1-2 {
{{legacy}}
  padding-top: {{line-height-half-px}}px;
{{/legacy}}
  padding-top: {{line-height-half}}rem;
}

.pad-bottom-half,
.pad-b-1-2 {
{{legacy}}
  padding-bottom: {{line-height-half-px}}px;
{{/legacy}}
  padding-bottom: {{line-height-half}}rem;
}

.pad-top-quarter,
.pad-t-1-4 {
{{legacy}}
  padding-top: {{line-height-quarter-px}}px;
{{/legacy}}
  padding-top: {{line-height-quarter}}rem;
}

.pad-bottom-quarter,
.pad-b-1-4 {
{{legacy}}
  padding-bottom: {{line-height-quarter-px}}px;
{{/legacy}}
  padding-bottom: {{line-height-quarter}}rem;
}

.island {
{{legacy}}
  padding: {{base-line-height-px}}px;
{{/legacy}}
  padding: {{base-line-height}}rem;
}

.island-double,
.island-2 {
{{legacy}}
  padding: {{line-height-double-px}}px;
{{/legacy}}
  padding: {{line-height-double}}rem;
}

.island-half,
.island-1-2 {
{{legacy}}
  padding: {{line-height-half-px}}px;
{{/legacy}}
  padding: {{line-height-half}}rem;
}

.island-quarter,
.island-1-4,
td,
th,
fieldset {
{{legacy}}
  padding: {{line-height-quarter-px}}px;
{{/legacy}}
  padding: {{line-height-quarter}}rem;
}

.gutter {
{{legacy}}
  padding-left: {{base-line-height-px}}px;
  padding-right: {{base-line-height-px}}px;
{{/legacy}}
  padding-left: {{base-line-height}}rem;
  padding-right: {{base-line-height}}rem;
}

.gutter-double,
.gutter-2 {
{{legacy}}
  padding-left: {{line-height-double-px}}px;
  padding-right: {{line-height-double-px}}px;
{{/legacy}}
  padding-left: {{line-height-double}}rem;
  padding-right: {{line-height-double}}rem;
}

.gutter-half,
.gutter-1-2 {
{{legacy}}
  padding-left: {{line-height-half-px}}px;
  padding-right: {{line-height-half-px}}px;
{{/legacy}}
  padding-left: {{line-height-half}}rem;
  padding-right: {{line-height-half}}rem;
}

.gutter-quarter,
.gutter-1-4 {
{{legacy}}
  padding-left: {{line-height-quarter-px}}px;
  padding-right: {{line-height-quarter-px}}px;
{{/legacy}}
  padding-left: {{line-height-quarter}}rem;
  padding-right: {{line-height-quarter}}rem;
}
</script>

<script type="text/template" data-template="media-query">
@media only screen and (min-width: {{min-width}}em) {

  html {
    font-size: {{font-size}}%;
    line-height: {{line-height}};
  }
{{css}}

}
</script>
{% endraw %}
