{% raw %}
<script type="text/template" data-template="breakpoint">
  <tr class="breakpoint">
    <td colspan="4" class="breakpoint-em">
      <input class="min-width" type="number" value="{{min-width}}" aria-labelledby="label-min-width">
      <span class="em">em</span>
    </td>
    <td colspan="4">
      <input class="font-size" type="number" value="{{font-size}}" min="0" aria-labelledby="label-font-size">
      <span class="percent">%</span>
    </td>
    <td colspan="4">
      <input class="line-height" type="number" value="{{line-height}}" min="0" step="0.001" aria-labelledby="label-line-height">
    </td>
    <td colspan="7">
      <select class="type-scale" aria-labelledby="label-type-scale">
        <option value="1.067">1.067 — Minor Second</option>
        <option value="1.125">1.125 — Major Second</option>
        <option value="1.200">1.200 — Minor Third</option>
        <option value="1.250">1.250 — Major Third</option>
        <option value="1.333">1.333 — Perfect Fourth</option>
        <option value="1.414">1.414 — Augmented Fourth</option>
        <option value="1.500">1.500 — Perfect Fifth</option>
        <option value="1.600">1.600 — Minor Sixth</option>
        <option value="1.618">1.618 — Golden Ratio</option>
        <option value="1.667">1.667 — Major Sixth</option>
        <option value="1.778">1.778 — Minor Seventh</option>
        <option value="1.875">1.875 — Major Seventh</option>
        <option value="2.000">2.000 — Octave</option>
        <option value="2.500">2.500 — Major Tenth</option>
      </select>
    </td>
    <td colspan="3">
      <input class="hang-punc" type="checkbox" {{hang-punc}} aria-labelledby="label-hang-punc">
    </td>
    <td class="remove-breakpoint-wrap" colspan="2">
      <button class="btn btn-fatal btn-remove-breakpoint" title="Remove breakpoint"><span class="ir">Remove</span></button>
    </td>
  </tr>
</script>

<script type="text/template" data-template="css-base">/*
  Typografier || Code released under the UNLICENSE
  {{build}}

*/

html {
  font-size: {{base-font}}%;
  line-height: {{base-line-height}};
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

sub,
sup {
  font-size: .75em;
  line-height: 1px;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

pre,
code,
kbd,
samp {
  font-size: 1em;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bold;
}

dfn,
caption {
  font-style: italic;
}

hr {
  border: 0;
  border-top: 2px solid #000;
  height: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

caption {
  text-align: left;
}

th,
td {
  border-bottom: 1px solid #000;
  text-align: left;
  vertical-align: top;
}

thead th {
  vertical-align: bottom;

  border-bottom-width: 2px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.normal {
  font-weight: normal;
  font-style: normal;
}

.not-bold {
  font-weight: normal;
}

.not-italic {
  font-style: normal;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.text-upper {
  text-transform: uppercase;
}

.text-lower {
  text-transform: lowercase;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 52em;
  width: 100%;
}

.wrapper-no-center {
  max-width: 52em;
  width: 100%;
}

.max-length {
  margin-left: auto;
  margin-right: auto;
  max-width: 36em;
  width: 100%;
}

.max-length-no-center {
  max-width: 36em;
  width: 100%;
}
{{main}}
</script>

<script type="text/template" data-template="css-element">
{{selectors}} {
{{legacy}}
  font-size: {{font-size-px}}px;
  line-height: {{line-height-px}}px;
{{/legacy}}
  font-size: {{font-size}}rem;
  line-height: {{line-height}}rem;
}
</script>

<script type="text/template" data-template="scale-base">
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
figure,
blockquote,
details,
hr,
fieldset,
pre,
table,
caption,
menu {
{{legacy}}
  margin: 0 0 {{base-line-height-px}}px;
{{/legacy}}
  margin: 0 0 {{base-line-height}}rem;
}
{{type-scale}}

{{hang-punc}}
ul,
ol {
  padding-left: 0;
}

ul ul,
ol ul {
  padding-left: 1em;
}

ol ol,
ul ol {
  padding-left: 1.6em;
}

.hang-punc {
  float: left;
  margin-left: -1.4em;
  text-align: right;
  width: 1.3em;
}

table {
  margin-left: -{{line-height-quarter}}rem;
  margin-right: -{{line-height-quarter}}rem;
  width: calc(100% + {{line-height-quarter}}rem + {{line-height-quarter}}rem);
}
{{/hang-punc}}

{{not-hang-punc}}
ul {
  padding-left: 1em;
}

ol {
  padding-left: 1.6em;
}
{{/not-hang-punc}}

input,
option,
select {
  height: calc({{base-line-height}}rem + {{line-height-eighth}}rem + {{line-height-eighth}}rem);
}

[type="color"] {
  width: calc({{base-line-height}}rem + {{line-height-eighth}}rem + {{line-height-eighth}}rem);
}

[type="checkbox"],
[type="radio"] {
  display: inline-block;
  height: auto;
}

.push {
{{legacy}}
  margin-bottom: {{base-line-height-px}}px;
{{/legacy}}
  margin-bottom: {{base-line-height}}rem;
}

.push-none,
.push-0 {
  margin-bottom: 0;
}

.push-double,
.push-2 {
{{legacy}}
  margin-bottom: {{line-height-double-px}}px;
{{/legacy}}
  margin-bottom: {{line-height-double}}rem;
}

.push-three-quarters,
.push-3-4 {
{{legacy}}
  margin-bottom: {{line-height-three-quarters-px}}px;
{{/legacy}}
  margin-bottom: {{line-height-three-quarters}}rem;
}

.push-half,
.push-1-2 {
{{legacy}}
  margin-bottom: {{line-height-half-px}}px;
{{/legacy}}
  margin-bottom: {{line-height-half}}rem;
}

.push-quarter,
.push-1-4 {
{{legacy}}
  margin-bottom: {{line-height-quarter-px}}px;
{{/legacy}}
  margin-bottom: {{line-height-quarter}}rem;
}

.push-eighth,
.push-1-8 {
{{legacy}}
  margin-bottom: {{line-height-eighth-px}}px;
{{/legacy}}
  margin-bottom: {{line-height-eighth}}rem;
}

.push-right-eighth,
.push-r-1-8 {
{{legacy}}
  margin-right: {{line-height-eighth-px}}px;
{{/legacy}}
  margin-right: {{line-height-eighth}}rem;
}

.push-right-quarter,
.push-r-1-4 {
{{legacy}}
  margin-right: {{line-height-quarter-px}}px;
{{/legacy}}
  margin-right: {{line-height-quarter}}rem;
}

.push-right-half,
.push-r-1-2 {
{{legacy}}
  margin-right: {{line-height-half-px}}px;
{{/legacy}}
  margin-right: {{line-height-half}}rem;
}

.push-right-three-quarters,
.push-r-3-4 {
{{legacy}}
  margin-right: {{line-height-three-quarters-px}}px;
{{/legacy}}
  margin-right: {{line-height-three-quarters}}rem;
}

.push-right,
.push-r {
{{legacy}}
  margin-right: {{base-line-height-px}}px;
{{/legacy}}
  margin-right: {{base-line-height}}rem;
}

.pad-top,
.pad-t {
{{legacy}}
  padding-top: {{base-line-height-px}}px;
{{/legacy}}
  padding-top: {{base-line-height}}rem;
}

.pad-bottom,
.pad-b {
{{legacy}}
  padding-bottom: {{base-line-height-px}}px;
{{/legacy}}
  padding-bottom: {{base-line-height}}rem;
}

.pad-top-double,
.pad-t-2 {
{{legacy}}
  padding-top: {{line-height-double-px}}px;
{{/legacy}}
  padding-top: {{line-height-double}}rem;
}

.pad-bottom-double,
.pad-b-2 {
{{legacy}}
  padding-bottom: {{line-height-double-px}}px;
{{/legacy}}
  padding-bottom: {{line-height-double}}rem;
}

.pad-top-three-quarters,
.pad-t-3-4 {
{{legacy}}
  padding-top: {{line-height-three-quarters-px}}px;
{{/legacy}}
  padding-top: {{line-height-three-quarters}}rem;
}

.pad-bottom-three-quarters,
.pad-b-3-4 {
{{legacy}}
  padding-bottom: {{line-height-three-quarters-px}}px;
{{/legacy}}
  padding-bottom: {{line-height-three-quarters}}rem;
}

.pad-top-half,
.pad-t-1-2 {
{{legacy}}
  padding-top: {{line-height-half-px}}px;
{{/legacy}}
  padding-top: {{line-height-half}}rem;
}

.pad-bottom-half,
.pad-b-1-2 {
{{legacy}}
  padding-bottom: {{line-height-half-px}}px;
{{/legacy}}
  padding-bottom: {{line-height-half}}rem;
}

.pad-top-quarter,
.pad-t-1-4 {
{{legacy}}
  padding-top: {{line-height-quarter-px}}px;
{{/legacy}}
  padding-top: {{line-height-quarter}}rem;
}

.pad-bottom-quarter,
.pad-b-1-4 {
{{legacy}}
  padding-bottom: {{line-height-quarter-px}}px;
{{/legacy}}
  padding-bottom: {{line-height-quarter}}rem;
}

.pad-top-eighth,
.pad-t-1-8 {
{{legacy}}
  padding-top: {{line-height-eighth-px}}px;
{{/legacy}}
  padding-top: {{line-height-eighth}}rem;
}

.pad-bottom-eighth,
.pad-b-1-8 {
{{legacy}}
  padding-bottom: {{line-height-eighth-px}}px;
{{/legacy}}
  padding-bottom: {{line-height-eighth}}rem;
}

.island {
{{legacy}}
  padding: {{base-line-height-px}}px;
{{/legacy}}
  padding: {{base-line-height}}rem;
}

.island-double,
.island-2 {
{{legacy}}
  padding: {{line-height-double-px}}px;
{{/legacy}}
  padding: {{line-height-double}}rem;
}

.island-three-quarters,
.island-3-4 {
{{legacy}}
  padding: {{line-height-three-quarters-px}}px;
{{/legacy}}
  padding: {{line-height-three-quarters}}rem;
}

.island-half,
.island-1-2 {
{{legacy}}
  padding: {{line-height-half-px}}px;
{{/legacy}}
  padding: {{line-height-half}}rem;
}

.island-quarter,
.island-1-4,
td,
table th {
{{legacy}}
  padding: {{line-height-quarter-px}}px;
{{/legacy}}
  padding: {{line-height-quarter}}rem;
}

.island-eighth,
.island-1-8,
input:not([type="checkbox"]),
input:not([type="radio"]),
textarea {
{{legacy}}
  padding: {{line-height-eighth-px}}px;
{{/legacy}}
  padding: {{line-height-eighth}}rem;
}

.gutter {
{{legacy}}
  padding-left: {{base-line-height-px}}px;
  padding-right: {{base-line-height-px}}px;
{{/legacy}}
  padding-left: {{base-line-height}}rem;
  padding-right: {{base-line-height}}rem;
}

.gutter-double,
.gutter-2 {
{{legacy}}
  padding-left: {{line-height-double-px}}px;
  padding-right: {{line-height-double-px}}px;
{{/legacy}}
  padding-left: {{line-height-double}}rem;
  padding-right: {{line-height-double}}rem;
}

.gutter-three-quarters,
.gutter-3-4 {
{{legacy}}
  padding-left: {{line-height-three-quarters-px}}px;
  padding-right: {{line-height-three-quarters-px}}px;
{{/legacy}}
  padding-left: {{line-height-three-quarters}}rem;
  padding-right: {{line-height-three-quarters}}rem;
}

.gutter-half,
.gutter-1-2 {
{{legacy}}
  padding-left: {{line-height-half-px}}px;
  padding-right: {{line-height-half-px}}px;
{{/legacy}}
  padding-left: {{line-height-half}}rem;
  padding-right: {{line-height-half}}rem;
}

.gutter-quarter,
.gutter-1-4,
caption {
{{legacy}}
  padding-left: {{line-height-quarter-px}}px;
  padding-right: {{line-height-quarter-px}}px;
{{/legacy}}
  padding-left: {{line-height-quarter}}rem;
  padding-right: {{line-height-quarter}}rem;
}

.gutter-eighth,
.gutter-1-8 {
{{legacy}}
  padding-left: {{line-height-eighth-px}}px;
  padding-right: {{line-height-eighth-px}}px;
{{/legacy}}
  padding-left: {{line-height-eighth}}rem;
  padding-right: {{line-height-eighth}}rem;
}

.i-1 {
{{legacy}}
  height: {{base-line-height-px}}px;
  width: {{base-line-height-px}}px;
{{/legacy}}
  height: {{base-line-height}}rem;
  width: {{base-line-height}}rem;
}

.i-3-4 {
{{legacy}}
  height: {{line-height-three-quarters-px}}px;
  width: {{line-height-three-quarters-px}}px;
{{/legacy}}
  height: {{line-height-three-quarters}}rem;
  width: {{line-height-three-quarters}}rem;
}

.i-1-2 {
{{legacy}}
  height: {{line-height-half-px}}px;
  width: {{line-height-half-px}}px;
{{/legacy}}
  height: {{line-height-half}}rem;
  width: {{line-height-half}}rem;
}

.i-1-4 {
{{legacy}}
  height: {{line-height-quarter-px}}px;
  width: {{line-height-quarter-px}}px;
{{/legacy}}
  height: {{line-height-quarter}}rem;
  width: {{line-height-quarter}}rem;
}

.i-1-8 {
{{legacy}}
  height: {{line-height-eighth-px}}px;
  width: {{line-height-eighth-px}}px;
{{/legacy}}
  height: {{line-height-eighth}}rem;
  width: {{line-height-eighth}}rem;
}

.i-1-1-2,
.i-3-2 {
{{legacy}}
  height: {{line-height-one-one-half-px}}px;
  width: {{line-height-one-one-half-px}}px;
{{/legacy}}
  height: {{line-height-one-one-half}}rem;
  width: {{line-height-one-one-half}}rem;
}

.i-1-1-4,
.i-5-4 {
{{legacy}}
  height: {{line-height-one-one-quarter-px}}px;
  width: {{line-height-one-one-quarter-px}}px;
{{/legacy}}
  height: {{line-height-one-one-quarter}}rem;
  width: {{line-height-one-one-quarter}}rem;
}

.i-1-3-4,
.i-7-4 {
{{legacy}}
  height: {{line-height-one-three-quarters-px}}px;
  width: {{line-height-one-three-quarters-px}}px;
{{/legacy}}
  height: {{line-height-one-three-quarters}}rem;
  width: {{line-height-one-three-quarters}}rem;
}

.i-2 {
{{legacy}}
  height: {{line-height-double-px}}px;
  width: {{line-height-double-px}}px;
{{/legacy}}
  height: {{line-height-double}}rem;
  width: {{line-height-double}}rem;
}

select {
{{legacy}}
  padding: 0 {{line-height-eighth-px}}px;
{{/legacy}}
  padding: 0 {{line-height-eighth}}rem;
}

fieldset {
{{legacy}}
  padding: {{line-height-quarter-px}}px 0;
{{/legacy}}
  padding: {{line-height-quarter}}rem 0;

  border: 0;
  border-top: 2px solid #000;
}

legend {
{{legacy}}
  padding-right: {{line-height-quarter-px}}px;
{{/legacy}}
  padding-right: {{line-height-quarter}}rem;
}
</script>

<script type="text/template" data-template="media-query">
@media only screen and (min-width: {{min-width}}em) {

  html {
    font-size: {{font-size}}%;
    line-height: {{line-height}};
  }
{{css}}

}
</script>
{% endraw %}
